.App {
  text-align: center;
}

.travel-card {
  border: solid black;
}

.navbarlink {
  margin: 5px;
}

.front_image{
  height: 500px;
  width: auto;
  border: 2px solid black;
  border-radius: 5px;
}

body {
  background-color: rgb(157, 220, 223);
}

.buttons{
  margin: 0 0 5px 0;
}

#been-there-btn{
  margin: 0 2px 0 15px;
}

#emoji-btn{
  margin: 0 2px 0 15px;
}